@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  background: #2080e0a0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(30, 41, 59);
}

.inner-focus-ring:focus:focus-visible {
  box-shadow: 0 0 0 2px #cffafe inset;
  outline: none;
}
