@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  background: #2080e0a0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(30, 41, 59);
}

.inner-focus-ring:focus:focus-visible {
  box-shadow: 0 0 0 2px #cffafe inset;
  outline: none;
}

.center-on-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.node-viewer:hover {
  box-shadow: 2px 0 0 0 rgba(240 240 240 / 0.75) inset;
}
.node-viewer:focus-within {
  box-shadow: 8px 0 0 0 rgba(14 116 144 / 0.5) inset;
}
